<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaClienteController</servlet-name>
        <servlet-class>controller.PesquisaClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaColaboradorController</servlet-name>
        <servlet-class>controller.PesquisaColaboradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFornecedorController</servlet-name>
        <servlet-class>controller.PesquisaFornecedorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaProdutoController</servlet-name>
        <servlet-class>controller.PesquisaProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaVendaController</servlet-name>
        <servlet-class>controller.PesquisaVendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFormaPagamentoController</servlet-name>
        <servlet-class>controller.PesquisaPagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaOrdemServicoController</servlet-name>
        <servlet-class>controller.PesquisaOrdemServicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterClienteController</servlet-name>
        <servlet-class>controller.ManterClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterColaboradorController</servlet-name>
        <servlet-class>controller.ManterColaboradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFornecedorController</servlet-name>
        <servlet-class>controller.ManterFornecedorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterOrdemServicoController</servlet-name>
        <servlet-class>controller.ManterOrdemServicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPagamentoController</servlet-name>
        <servlet-class>controller.ManterPagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProdutoController</servlet-name>
        <servlet-class>controller.ManterProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterVendaController</servlet-name>
        <servlet-class>controller.ManterVendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaDevolucaoController</servlet-name>
        <servlet-class>controller.PesquisaDevolucaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterDevolucaoController</servlet-name>
        <servlet-class>controller.ManterDevolucaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterItensVendaController</servlet-name>
        <servlet-class>controller.ManterItensVendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaItensVendaController</servlet-name>
        <servlet-class>controller.PesquisaItensVendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterItensOrdemController</servlet-name>
        <servlet-class>controller.ManterItensOrdemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaItensOrdemController</servlet-name>
        <servlet-class>controller.PesquisaItensOrdemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterEnderecoController</servlet-name>
        <servlet-class>controller.ManterEnderecoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCategoriaController</servlet-name>
        <servlet-class>controller.ManterCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAdminController</servlet-name>
        <servlet-class>controller.ManterAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAdminController</servlet-name>
        <servlet-class>controller.PesquisaAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCategoriaController</servlet-name>
        <servlet-class>controller.PesquisaCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaEnderecoController</servlet-name>
        <servlet-class>controller.PesquisaEnderecoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TratamentoExcecao</servlet-name>
        <servlet-class>exception.TratamentoExcecao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelClientesController</servlet-name>
        <servlet-class>controller.RelClientesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelProdutosController</servlet-name>
        <servlet-class>controller.RelProdutosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaClienteController</servlet-name>
        <url-pattern>/PesquisaClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaColaboradorController</servlet-name>
        <url-pattern>/PesquisaColaboradorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFornecedorController</servlet-name>
        <url-pattern>/PesquisaFornecedorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaProdutoController</servlet-name>
        <url-pattern>/PesquisaProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaVendaController</servlet-name>
        <url-pattern>/PesquisaVendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFormaPagamentoController</servlet-name>
        <url-pattern>/PesquisaPagamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaOrdemServicoController</servlet-name>
        <url-pattern>/PesquisaOrdemServicoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterClienteController</servlet-name>
        <url-pattern>/ManterClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterColaboradorController</servlet-name>
        <url-pattern>/ManterColaboradorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFornecedorController</servlet-name>
        <url-pattern>/ManterFornecedorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterOrdemServicoController</servlet-name>
        <url-pattern>/ManterOrdemServicoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPagamentoController</servlet-name>
        <url-pattern>/ManterPagamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProdutoController</servlet-name>
        <url-pattern>/ManterProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterVendaController</servlet-name>
        <url-pattern>/ManterVendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaDevolucaoController</servlet-name>
        <url-pattern>/PesquisaDevolucaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterDevolucaoController</servlet-name>
        <url-pattern>/ManterDevolucaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterItensVendaController</servlet-name>
        <url-pattern>/ManterItensVendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaItensVendaController</servlet-name>
        <url-pattern>/PesquisaItensVendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterItensOrdemController</servlet-name>
        <url-pattern>/ManterItensOrdemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaItensOrdemController</servlet-name>
        <url-pattern>/PesquisaItensOrdemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterEnderecoController</servlet-name>
        <url-pattern>/ManterEnderecoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCategoriaController</servlet-name>
        <url-pattern>/ManterCategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAdminController</servlet-name>
        <url-pattern>/ManterAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAdminController</servlet-name>
        <url-pattern>/PesquisaAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCategoriaController</servlet-name>
        <url-pattern>/PesquisaCategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaEnderecoController</servlet-name>
        <url-pattern>/PesquisaEnderecoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TratamentoExcecao</servlet-name>
        <url-pattern>/TratamentoExcecao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelClientesController</servlet-name>
        <url-pattern>/RelClientesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelProdutosController</servlet-name>
        <url-pattern>/RelProdutosController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/TratamentoExcecao</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/TratamentoExcecao</location>
    </error-page>
</web-app>
